# copy this to /etc/systemd/system

[Unit]
Description=WebAppFrontend
After=network.target

[Service]
ExecStart=/usr/local/bin/node ./scripts/start.js
Restart=always
User=rcr
Group=rcr
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=development
WorkingDirectory=/opt/jenkins/ws/workspace/KORT_FE_PL/frontend_boilerplate/

[Install]
WantedBy=multi-user.target