@media (min-width: 2000px) {
    .dialog__window {
        width: 1900px !important;
    }
}
@media (max-width: 1999px) {
    .main {
        min-height: calc(100% - 80px);
    }
    .header {
        height: 80px;
    }
    .header__icon {
        height: 50px;
    }
    .header__text,
    .header__count {
        font-size: 18px;
    }
    .dialog__window {
        width: 1400px !important;
    }
}

@media (max-width: 1499px) {
    .error {
        padding: 25px;
    }
    .error .error__icon {
        height: 108px;
        margin-bottom: 25px;
    }
    .error .error__title {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .error .error__description {
        font-size: 14px;
    }
    .result__notfound .result__notfound-icon {
        margin-bottom: 25px;
        height: 108px;
    }
    .preloader .preloader__icon {
        width: 160px;
        height: auto;
    }
    .preloader .preloader__title {
        font-size: 18px;
        margin-top: 25px;
    }
    .main {
        min-height: calc(100% - 70px);
        padding: 25px;
    }
    .header {
        height: 70px;
    }
    .header__icon {
        height: 40px;
    }
    .header__text, .header__count {
        font-size: 16px;
        padding: 25px 30px;
    }
    .result__notfound .result__notfound-text,
    .accordion__inner, .search-btn__name,  .rights__table table th{
        font-size: 14px !important;
        line-height: 16px !important;
    }
    .accordion__inner,
    .search {
        height: 46px;
    }
    .rights__table table th{
        height: 40px;
    }

    .rights__table table td{
        padding: 5px 10px;
    }
    .search__inner::before {
        width: 16px;
        height: 16px;
        top: 15px;
        margin-left: 25px;
    }
    .accordion__name {
        left: 25px;
        top: 15px;
    }
    .dialog__window {
        width: 1100px !important;
    }
    .search__btn{
        width: 184px;
        padding: 0px 25px !important;
    }
}

@media (max-width: 1199px) {
    .dialog__window {
        width: 900px !important;
    }
}

@media (max-width: 991px) {
    .browser .browser__list .browser__list-item {
        width: 180px;
    }
    .browser .browser__icon {
        width: 70px;
    }
    .browser .browser__heading,
    .browser .browser__title {
        font-size: 16px;
    }
    .browser .browser__description,
    .browser .browser__subtitle {
        font-size: 12px;
    }
    .browser .browser__list .browser__list-item + .browser__list-item {
        margin-left: 20px;
    }
    .error {
        padding: 20px;
    }
    .error .error__icon {
        height: 100px;
        margin-bottom: 20px;
    }
    .error .error__title {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .error .error__description {
        font-size: 12px;
    }
    .result__notfound .result__notfound-icon {
        margin-bottom: 20px;
        height: 88px;
    }
    .preloader .preloader__icon {
        width: 120px;
        height: auto;
    }
    .preloader .preloader__title {
        font-size: 14px;
        margin-top: 20px;
    }
    .main {
        min-height: calc(100% - 52px);
    }
    .header {
        height: 52px;
    }
    .header__icon {
        height: 32px;
        margin: 10px 20px;
    }
    .header__text, .header__count {
        font-size: 14px;
        padding: 17px 20px;
    }
    .main {
        padding: 20px;
    }
    .result__notfound .result__notfound-text,
    .accordion__inner,
    .search__input, .search__btn-name, .rights__table table th {
        font-size: 12px !important;
        line-height: 14px !important;
    }
    .search__btn {
        padding: 10px 20px;
        width: 160px;
    }
    .accordion__inner, .search {
        height: 34px;
    }
    .search__inner::before {
        width: 13px;
        height: 13px;
        top: 11px;
        margin-left: 20px;
    }
    .accordion__name {
        top: 10px;
    }
    .accordion__inner.accordion__inner_active .accordion__name::before,
    .accordion__inner .accordion__name::before {
        width: 12px;
        height: 6px;
        margin-right: 10px;
    }
    .search__btn-name {
        top: -1px;
    }
    .accordion__name {
        left: 20px;
    }
    .border-gray {
        border-width: 2px;
    }
    .dialog__window {
        width: 700px !important;
    }
    .user__name{
        padding:10px;
        font-size: 12px;
        line-height: 14px;
    }
    
    .rights__table table th{
        height: 30px;
    }

    .rights__table table td{
        padding: 5px 5px;
        font-size: 12px;
        line-height: 14px;
    }
}

@media (max-width: 767px) {
    html, body {
        width: 767px !important;
    }
}