.search{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    margin: 0px;
    background-color: #fff;
    box-shadow: 0px 10px 20px rgba(148, 159, 196, 0.2);
    border-radius: 10px;
    height: 56px;
    overflow: hidden;
}

.search > *:not(:last-child) {
    border-right: 1px solid #E6E8F1;
}

.search__inner::before{
    background: url(/static/images/search.png) no-repeat;
    content: "";
    background-size: contain;
    width: 18px;
    height: 18px;
    display: inline-block;
    position: relative;
    margin-left: 30px;
    top: 19px;
}
.search__inner{
    font-size:17px;
    text-align:left;
    line-height: 18px;
    color: #44517B;
    display: inline-flex;
    flex: 1;
}

.search__input {
    border: 0px !important;
    border-radius: 10px 0px 10px 0px !important;
    padding: 0px 15px !important;
    width: 100% !important;
    font-size: 16px !important;
    text-align: left;
    outline: none !important; 
    color: #44517B !important;
    float: right;
    height: auto !important;
    box-shadow: none !important;
}

input[type="search"]::-moz-placeholder{ 
    color: #44517B; 
}

input[type="search"]::-webkit-input-placeholder{ 
    color: #44517B; 
}

input[type="search"]::placeholder { 
    color: #44517B; 
}

.search__btn{
    float: right;
    padding: 0px 30px !important;
    border: none !important;
    border-left: 1px solid #44517B !important;
    height: auto !important;
    box-shadow: none !important;
    width: 210px;
    border-radius:0px 10px 10px 0px !important;
}

.search__btn-name {
    font-size: 16px ;
    line-height: 18px;
    font-weight: normal;
    text-align: left;
    color: #44517B;
    position: relative;
}